.customContainer{
    margin: 38px 0px 0px 70px;
}
.rightContainer{
    margin-top: 6%;
}
.userDetails{
    
margin-bottom: 10%;
}
.userImage{
    
margin-bottom: 2%;
}
.rightFirstRow{
    margin-bottom: 2%;
}
.wrapper{
    width: 94%;
    margin: 0 auto;
}
