<section class="wrapper">
    <header class="mainHeader">

    </header>
    <section class="container">
        <div class="tableCotainer">
                <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Courses</th>
                            <th scope="col">Meta Tag</th>
                            <th scope="col">Overview</th>
                            <th scope="col">Custom Modifications <button class="btn pmd-btn-fab pmd-ripple-effect btn-primary" routerLink="/addCourse" routerLinkActive="active" type="button">Add</button></th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td> <a routerLink="/descCourse" routerLinkActive="active">Angular</a></td>
                            <td>April 5 2019</td>
                            <td>3 Months</td>
                            <td><a routerLink="/editCourse" routerLinkActive="active">Edit</a><button>Delete</button></td>
                          </tr>
                        </tbody>
                      </table>
        </div>
    </section>
    <footer class="footer">

    </footer>
</section>
