<section class="containerForm">
  
  <form>
    <div class="form-group">
      <label>Course Details</label>
      <input type="course_details" class="form-control" aria-describedby="emailHelp" placeholder="course details">
    </div>
    <div class="form-group">
      <label>Course Details</label>
      <input type="course_details" class="form-control" aria-describedby="emailHelp" placeholder="course details">
    </div>
    <div class="form-group">
      <label>Course Details</label>
      <input type="course_details" class="form-control" aria-describedby="emailHelp" placeholder="course details">
    </div>
    <div class="form-group">
      <label>Course Details</label>
      <input type="course_details" class="form-control" aria-describedby="emailHelp" placeholder="course details">
    </div>
    <div class="form-group">
      <label>Course Details</label>
      <input type="course_details" class="form-control" aria-describedby="emailHelp" placeholder="course details">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <footer class="footer">

  </footer>
</section>