<section class="row customContainer">
        <div class="leftContainer col-2">
          <div class="userDetails">
            <div class="userImage">
              <img class="img-thumbnail rounded" src="../../assets/images/logo1.png" alt="Generic placeholder image">
            </div>
            <div class="media-body">
              <h5 class="mt-0">User name</h5>
            </div>
          </div>
          <div class="courses">
            <button type="button" class="btn btn-secondary btn-lg"> <a routerLink="/listCourses" routerLinkActive="active">Courses</a> </button>
          </div>
          <div class="courses">
                <button type="button" class="btn btn-secondary btn-lg"> <a routerLink="/" routerLinkActive="active">Batches</a> </button>
              </div>
        </div>
        <div class="rightContainer col">
          <div class="row rightFirstRow">

          </div>

        </div>
      </section>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container [matColumnDef] = "column" *ngFor = "let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{column}}</th>
            <td mat-cell *matCellDef = "let emp">{{emp[column]}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let emprow;columns:displayedColumns"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>

        </mat-paginator>
      </div>